:root {
	font-family: system-ui, sans-serif;
	font-size: 100%;
}

h2 {
	font-weight: 500;
	font-size: 2rem;
}

button {
	background: white;
	border: 1px solid #eee;
	border-radius: 0.25rem;
	font: inherit;
	padding: 0.25rem 0.5rem;
	transition: background-color 0.3s ease;
}

button.positive {
	background: hsl(120, 73%, 75%);
	border-color: transparent;

	&:hover {
		background: hsl(120, 73%, 85%);
	}
}

button.negative {
	background: hsl(0, 79%, 72%);
	border-color: transparent;

	&:hover {
		background: hsl(0, 79%, 82%);
	}
}

.trela {
	background-color: hsl(195, 53%, 95%);
}

.trela::backdrop {
	background-color: hsl(0 25% 50% / 0.1);
	backdrop-filter: blur(1rem);
}
