:root {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 100%;
}

button {
	font: inherit;
}

.trela::backdrop {
	background-color: rgba(0,0,0,.4);
	backdrop-filter: none;
}

.trela {
	background-color: #fff;
	border-radius: 5px;
	font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 478px;

	&[open] {
		animation: showTransform .3s, showOpacity 0.3s;
	}
}

.trela__title {
	color: rgba(0,0,0,.65);
	font-weight: 600;
	text-transform: none;
	position: relative;
	display: block;
	padding: 13px 16px;
	font-size: 27px;
	line-height: normal;
	text-align: center;
	margin-top: 26px;
	margin-bottom: 13px;
}

.trela__content {
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.64);
	display: inline-block;
	float: none;
	font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-width: calc(100% - 20px);
	overflow-wrap: break-word;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	pointer-events: auto;
	position: relative;
	text-align: left;
	vertical-align: top
}

.trela__buttons {
	justify-content: end;
	margin-top: 13px;
	padding-bottom: 13px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 13px;
	pointer-events: auto;
	text-align: right;

	button {
		background-color: rgb(124, 209, 249);
		border: 0 none;
		border-radius: 5px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		font-family: -apple-system;
		font-size: 14px;
		font-weight: 600;
		padding: 10px 24px;

		&:hover {
			background-color: #78cbf2;
		}
	}
}

@keyframes showTransform {
	0% { transform: scale(1); }
	1% { transform: scale(0.5);}
	45% { transform: scale(1.05);}
	80% { transform: scale(0.95);}
	100% { transform: scale(1);}
}

@keyframes showOpacity {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes hideOpacity {
	from { opacity: 1; }
	to { opacity: 0; }
}
